%table.table
  %tr                          
    %th
      %h1 Información
  %tr
    %th
      URL
    %th
      SHORTURL
    %th
      Nº VISITAS
  %tr
    %th
      #{@list.url}
    %th
      #{@list.to}
    %th
      #{@list.num_visit}


%h4 Visitas por país
= pie_chart @country
= geo_chart @country
%h4 Visitas por ciudad
= column_chart @ciudad , height: "500px", width: "900px"


      


